/* Cor primária do logo */
.text-logo-primary {
    color: #B70D00;
}

/* Navbar */
.navbar {
    z-index: 100;
    background-color: #FFFFFF; /* Fundo branco */
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Links */
a {
    color: #333333; /* Cor neutra para links */
    transition: color 0.3s ease;
}

    a:hover {
        color: #B70D00; /* Cor ao passar o mouse */
    }

/* Botões */
.btn {
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

    /* Efeito de hover */
    .btn:hover {
        transform: scale(1.05);
    }

    /* Efeito de clique */
    .btn:active {
        transform: scale(0.98);
    }

/* Botão Primário */
.btn-primary {
    color: #FFFFFF;
    background-color: #B70D00; /* Cor primária */
    border-color: #960C00; /* Tom mais escuro */
}

    .btn-primary:hover {
        background-color: #960C00; /* Escurece no hover */
    }

/* Botão Secundário */
.btn-secondary {
    color: #FFFFFF;
    background-color: #1B6EC2; /* Cor complementar */
    border-color: #1861AC;
}

    .btn-secondary:hover {
        background-color: #165A9F;
    }

/* Nav Pills Ativo */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #FFFFFF;
    background-color: #B70D00; /* Cor primária */
    border-color: #960C00;
}

/* Efeito de hover para os itens da navbar */
.navbar-nav .nav-link {
    color: #333333; /* Cor neutra */
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:hover * {
    color: #B70D00; /* Cor vermelha ao passar o mouse */
    transform: scale(1.05);
}

    /* Efeito de hover para os ícones FontAwesome na navbar */
    .navbar-nav .nav-link i {
        color: #333333; /* Cor padrão dos ícones */
        transition: color 0.3s ease;
    }

    .navbar-nav .nav-link:hover i {
        color: #B70D00; /* Cor vermelha ao passar o mouse */
    }

    /* Efeito de hover para o texto "Admin" no dropdown */
    .navbar-nav .nav-link.dropdown-toggle {
        color: #333333; /* Cor neutra padrão */
        transition: color 0.3s ease;
    }

        .navbar-nav .nav-link.dropdown-toggle:hover {
            color: #B70D00; /* Cor vermelha ao passar o mouse */
        }

    .navbar-nav .nav-link:active {
        color: #960C00; /* Cor ao clicar */
        transform: scale(0.98);
    }

.nav-itemText  .dropdown-item{
    color: #333333; /* Cor neutra */
    transition: color 0.3s ease, transform 0.3s ease;
    margin-left: 5px;
}

    .nav-itemText:hover {
        color: #B70D00; /* Cor vermelha ao passar o mouse */
        transform: scale(1.05);
    }

    .nav-itemText:active {
        color: #960C00; /* Cor ao clicar */
        transform: scale(0.98);
    }


/* Efeito de hover para os itens do dropdown */
.dropdown-item {
    color: #333333; /* Cor neutra */
    transition: color 0.3s ease, transform 0.3s ease;
}

    .dropdown-item:hover {
        color: #B70D00; /* Cor vermelha ao passar o mouse */
        transform: scale(1.05);
    }

    .dropdown-item:active {
        color: #960C00; /* Cor ao clicar */
        transform: scale(0.98);
    }

/* Efeito de hover para o logo */
.navbar-brand {
    transition: transform 0.3s ease;
}

    .navbar-brand:hover {
        transform: scale(1.05);
    }

    .navbar-brand:active {
        transform: scale(0.98);
    }

/* Bordas */
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

/* Sombra */
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* HTML e Body */
html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    /* Margem inferior pelo tamanho do footer */
    margin-bottom: 60px;
    background-color: #F5F5F5; /* Fundo suave */
    background-image: url('https://aircinelmvc.blob.core.windows.net/resources/backgroundimageFitsharp2.png');
    cursor: url('https://aircinelmvc.blob.core.windows.net/resources/fitsharpCursor.cur'), auto !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: bold;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #FFFFFF;
}

.imgwithbackground {
    background-color: #C8C6C5;
}

/*Text shadow*/
.text-shadow {
    text-shadow: 2px 2px 4px #000000;
}

/* Cards e Containers */
.transparent-card {
    background-color: rgba(235, 235, 235, 0.8); /* Tom cinza claro com transparência */
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    backdrop-filter: blur(10px);
    overflow: auto;
    max-width: 100%; /* Ocupa a largura total em ecrãs pequenos */
}

.roundedwithshadow {
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

/* Vídeo de Fundo */
video#bgVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
    z-index: -100;
}

/* Container mais largo */
.wider-container {
    max-width: 70%; /* Em ecrãs médios e grandes */
    margin: 0 auto; /* Centraliza o container */
}

@media (max-width: 900px) { /* Para ecrãs pequenos */
    .wider-container {
        max-width: 100%; /* Usa toda a largura em ecrãs pequenos */
    }
}

/*calendar*/
.personal-class {
    background-color: #B70D00 !important;
    color: white;
}

.group-class {
    background-color: #808080 !important;
    color: white;
}

/* Hover nos Eventos */

.personal-class:hover {
    background-color: #960C00 !important;
    transform: scale(1.05); /* Aumenta o tamanho em 5% */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra */
    cursor: pointer;
}

.group-class:hover {
    background-color: #5A5A5A !important; /* Tom mais escuro do cinza */
    transform: scale(1.05); /* Aumenta o tamanho em 5% */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra */
    cursor: pointer;
}

/* Força a cor do título do evento para branco em todas as visualizações */
.fc-event-title,
.fc-daygrid-event .fc-event-title,
.fc-timegrid-event .fc-event-title,
.fc-daygrid-event .fc-event-title,
.fc-timegrid-event .fc-event-title {
    color: white !important;
}

.fc-daygrid-event-dot {
    background-color: #B70D00 !important;
}

.fc-event-time {
    color: white !important;
}
}

.modal-header {
    background-color: #B70D00;
    color: white;
}

.btn-custom-grey {
    background-color: #808080 !important;
    color: white;
}