@{
    ViewData["Title"] = "UserNotFound";
}


<link rel="stylesheet" href="~/css/error404entity.css" />

<body>
    <section id="not-found">
        <div id="title"></div>
        <div class="circles">
            <p>
                404<br>
                <small>USER NOT FOUND</small>
            </p>
            <span class="circle big"></span>
            <span class="circle med"></span>
            <span class="circle small"></span>
        </div>
    </section>


    <a href="~/Home/index" class="btn btn-primary btn-lg mt-3"><i class="fas fa-home roundedwithshadow"></i>  Return Home</a>
</body>
