@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="container d-flex" style="min-height: 100vh;">
    <video id="bgVideo" autoplay loop muted preload="auto">
        <source src="https://aircinelmvc.blob.core.windows.net/resources/backgroundvideoFitSharp.mp4" type="video/mp4">
        Your browser does not suport videos in HTML5.
    </video>
</div>



