@{
    ViewData["Title"] = "OurTeam";
}

<div class="transparent-card">
    <section id="nossa-equipa" style="text-align: center; padding: 50px 0;">
        <h1 class="text-logo-primary">Our Team</h1>
        <div style="display: flex; justify-content: center; flex-wrap: wrap; gap: 40px; margin-top: 40px;">

            <div style="width: 250px;" class="transparent-card">
                <img src="https://aircinelmvc.blob.core.windows.net/resources/nuno.png" alt="Nuno Salavessa Mota" style="width: 100%; border-radius: 50%;">
                <h3>Nuno Salavessa Mota</h3>
                <div>
                    <a class="btn btn-link" href="https://linkedin.com/in/nunosalavessamota" target="_blank">LinkedIn</a> |
                    <a class="btn btn-link" href="https://github.com/SalavessaMota" target="_blank">GitHub</a>
                </div>
            </div>

            <div style="width: 250px;" class="transparent-card">
                <img src="https://aircinelmvc.blob.core.windows.net/resources/rita.jpg" alt="Rita Miguéns" style="width: 100%; border-radius: 50%;">
                <h3>Rita Miguéns</h3>
                <div>
                    <a class="btn btn-link" href="https://linkedin.com/in/rpmiguens/" target="_blank">LinkedIn</a> |
                    <a class="btn btn-link" href="https://github.com/rpmiguens92" target="_blank">GitHub</a>
                </div>
            </div>

            <div style="width: 250px;" class="transparent-card">
                <img src="https://aircinelmvc.blob.core.windows.net/resources/tiago.jpg" alt="Tiago Monteirinho" style="width: 100%; border-radius: 50%;">
                <h3>Tiago Monteirinho</h3>
                <div>
                    <a class="btn btn-link" href="https://linkedin.com/in/tiago-monteirinho/" target="_blank">LinkedIn</a> |
                    <a class="btn btn-link" href="https://github.com/tiagomonteirinho" target="_blank">GitHub</a>
                </div>
            </div>

        </div>
        <div class="transparent-card" style="margin-top: 50px;">
            <blockquote style="font-style: italic; font-size: 1.5em; color: #555;">
                "Live as if you were to die tomorrow. Learn as if you were to live forever."
            </blockquote>
            <p style="font-weight: bold; margin-top: 10px;">– Mahatma Gandhi</p>
        </div>
    </section>
    <div class="text-center">
        <a href="~/Home/index" class="btn btn-primary btn-lg mt-3 roundedwithshadow"><i class="fas fa-home"></i> Return Home</a>
    </div>
</div>
