@model FitSharp.Data.Entities.ClassType
@{
    ViewData["Title"] = "Create";
}

<flash dismissable="true" />
<div class="row">
    <div class="col-md-6 offset-md-3 transparent-card">

        <h4>Create class type</h4>
        <hr />

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_ClassTypes" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary roundedwithshadow" />
                <a asp-action="Index" class="btn roundedwithshadow" style="background-color: #808080">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

