
@{
    ViewData["Title"] = "CountryNotFound";
}

<link rel="stylesheet" href="~/css/error404entity.css" />

<body>
    <section id="not-found">
        <div id="title"></div>
        <div class="circles">
            <p>
                404<br>
                <small>COUNTRY NOT FOUND</small>
            </p>
            <span class="circle big"></span>
            <span class="circle med"></span>
            <span class="circle small"></span>
        </div>
    </section>

    <div class="text-center">
        <a href="~/Home/index" class="btn btn-primary btn-lg mt-3 roundedwithshadow"><i class="fas fa-home shadow-lg"></i>  Return Home</a>
    </div>
</body>