@model FitSharp.Data.Entities.Customer
@{
    ViewData["Title"] = "DisplayQRCode";
}

<<div class="transparent-card text-center">
    <div>
        <h3>QR Code for @Model.User.FullName</h3>
        <img src="@Url.Action("GenerateQRCode", "Account", new { userName = Model.User.UserName })" alt="QR Code for Customer" width="400px" height="auto" />
    </div>
    <div>
        <a href="~/Home/index" class="btn btn-primary btn-lg mt-3 roundedwithshadow"><i class="fas fa-home"></i> Return Home</a>
    </div>
</div>


 