@model FitSharp.Data.Entities.Customer
@{
    ViewData["Title"] = "DisplayQRCode";
}

<div class="col-12 col-lg-4 offset-lg-4">
    <div class="transparent-card text-center">
        @if (Model.MembershipId == null)
        {
            <h3>Membership Required</h3>
            <p class="lead text-muted">You need to purchase a membership to access any FitSharp gym worldwide. Enjoy your workout wherever you are!</p>
            <a href="~/Memberships/AvailableMemberships" class="btn btn-primary btn-lg mt-3 roundedwithshadow"><i class="fas fa-credit-card"></i> Purchase Membership</a>
        }
        else
        {
            <h3>QR Code for @Model.User.FullName</h3>
            <p class="lead text-muted">Scan this QR code to access any FitSharp gym worldwide. Enjoy your workout wherever you are!</p>
            <img src="@Url.Action("GenerateQRCode", "Account", new { userName = Model.User.UserName })" alt="QR Code for Customer" width="300px" height="auto" />
        }
        @* <div>
            <h3>QR Code for @Model.User.FullName</h3>
            <p class="lead text-muted">Scan this QR code to access any FitSharp gym worldwide. Enjoy your workout wherever you are!</p>
            <img src="@Url.Action("GenerateQRCode", "Account", new { userName = Model.User.UserName })" alt="QR Code for Customer" width="300px" height="auto" />
        </div> *@
        <div>
            <a href="~/Home/index" class="btn btn-primary btn-lg mt-3 roundedwithshadow"><i class="fas fa-home"></i> Return Home</a>
        </div>
    </div>
</div>
