@model FitSharp.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}



<div class="row">
    <div class="col-md-4 offset-md-4 transparent-card">
        <div class="text-center">
            <h2>Login</h2>
        </div>
        <br />

        <div class="flash-message">
            <flash dismissable="true" />
        </div>

        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Username">Username</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                    <label asp-for="RememberMe" class="form-check-label">Remember me?</label>
                </div>
                <span asp-validation-for="RememberMe" class="text-warning"></span>
            </div>
            <div class="form-group">
                <input type="submit" style="background-color: #808080" value="Login"  style="background-color: #808080" class="btn btn-success roundedwithshadow"/>
                <a asp-action="Register" class="btn btn-primary roundedwithshadow">Register New User</a>
                <a asp-action="RecoverPassword" class="btn btn-link">Forgot your password?</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Seleciona o elemento flash message
                const flashMessage = document.querySelector('.flash-message');

                // Verifica se o elemento existe e aplica o temporizador
                if (flashMessage) {
                    setTimeout(() => {
                        flashMessage.style.transition = "opacity 0.5s ease";
                        flashMessage.style.opacity = "0";
                        setTimeout(() => flashMessage.remove(), 500); // Remove o elemento após a transição
                    }, 4000);
                }
            });
        </script>
    }
}