<head>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>

<link rel="stylesheet" href="~/css/error403notauthorized.css" />

<div class="not-authorized-content transparent-card" style="color: black;">
    <div class="message-container">
        <div class="message">
            You are not authorized.
            <br /><br />
        </div>
        <div class="message2">Only the Superman is allowed in this part of the gym!</div>
    </div>

    <div class="containerNotAuthorized">
        <div class="neon">403</div>
        <div class="door-frame">
            <div class="door">
                <div class="rectangle"></div>
                <div class="handle"></div>
                <div class="window">
                    <div class="eye"></div>
                    <div class="eye eye2"></div>
                    <div class="leaf"></div>
                </div>
            </div>
        </div>
        </br>
        <div class="text-center">
            <a href="~/Home/index" class="btn btn-primary btn-lg mt-3 roundedwithshadow"><i class="fas fa-home"></i> Return Home</a>
        </div>
    </div>
</div>
