@model FitSharp.Models.SetPasswordViewModel
@{
    ViewData["Title"] = "Set Password";
}

<flash dismissable="true" />

<div class="row">
    <div class="col-md-4 offset-md-4 transparent-card">
        <h1>Set Your Password</h1>
        <br />
        <form method="post">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="Token" />        

            <div class="form-group">
                <label asp-for="Password">New password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirm</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Set New Password" class="btn btn-primary roundedwithshadow" />
            </div>
        </form>

        <div class="text-success">
            <p>
                @ViewBag.Message
            </p>
        </div>
    </div>
</div>

<div class="modal fade shadow-lg" id="thankYouModal" tabindex="-1" role="dialog" aria-labelledby="thankYouModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="thankYouModalLabel">Password Set</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p class="lead">Thank you for setting your password! You can now log in to your account.</p>
                <button id="btnOk" class="btn btn-primary">Log In</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript">
        $(document).ready(function () {
            var successMessage = '@ViewBag.Message';

            if (successMessage !== "") {
                $('#thankYouModal').modal('show');
            }

            $('#btnOk').click(function () {
                window.location.href = '@Url.Action("Login", "Account")';
            });
        });
    </script>
}
