

@{
    ViewData["Title"] = "Error404";
}

<link rel="stylesheet" href="~/css/error404.css" />



<div class="text-center">
    <img src="https://aircinelmvc.blob.core.windows.net/resources/404fitsharp.jpeg" />
    <a href="~/Home/index" class="btn btn-primary btn-lg mt-3 roundedwithshadow"><i class="fas fa-home"></i>  Return Home</a>
</div>


@section Scripts {
    <script src="~/js/error404.js"></script>
}