

@{
    ViewData["Title"] = "Error404";
}

<link rel="stylesheet" href="~/css/error404.css" />


<div class="transparent-card text-center">
    <img src="https://aircinelmvc.blob.core.windows.net/resources/error4040Fitsharp.png" class="roundedwithshadow" width="100%"/>
    <div class="text-center">
        <a href="~/Home/index" class="btn btn-primary btn-lg mt-3 roundedwithshadow"><i class="fas fa-home"></i>  Return Home</a>
    </div>
</div>


@section Scripts {
    <script src="~/js/error404.js"></script>
}